body {
    font-family: Verdana, sans-serif;
    background-image: url(hotdog.jpeg);
}

#content-wrapper {
    max-width: 50%;
    background-color: rgb(211, 211, 211, 0.8);
    border-radius: 30px;
    padding: 5px;
}

header {
    margin: 50px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}

p {
    flex-basis: 50%;
}

#total, #total-label {
    font-weight: bold;
}

@media (max-width: 700px) {
    #content-wrapper {max-width: 90%;}
}